.artistaImagen{
    margin-top: 60px;
    margin-left: 100px;
}

h2{
    margin-top: 40px;
    margin-left: 170px;
}

.datosArtista{
    margin-top: 150px;
    margin-left: 70px;
}

.nombre{
    margin-bottom: 100px;
    margin-left: 100px;
}

.descripcion{
    width: 300px;
    height: 100px;
}