<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted"  style="background-color: rgb(0, 0, 0);" id="footer" >
    <!-- Seccion: Redes Sociales -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-md-4"
      style="background-color: rgb(0, 0, 0);">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block pl-4" >
        <span>Síguenos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div >
        <a href="https://www.facebook.com/" class="me-4 text-reset"><img src="assets/facebook.png" height="25px"></a>
        <a href="https://twitter.com/" class="me-4 text-reset"><img src ="assets/twitter.png" height="23px"></a>
        <a href="https://www.google.com/intl/es/gmail/about/" class="me-4 text-reset"><img src ="assets/google.png" height="23px"></a>
        <a href="https://www.instagram.com/" class="me-4 text-reset"><img src="assets/instagram.png" height="24px"></a>
        <a href="https://www.pinterest.cl/" class="me-4 text-reset"><img src ="assets/pinterest.png" height="25px"></a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class=""  style="background-color: rgb(0, 0, 0);">
      <div class="container text-center text-md-start mw-100" >
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-xl-9">
            <div class='sidebar'>  <!-- Barra lateral de busqueda-->
              <div class='heading'> <h1>Eventos</h1></div>
              <div id='listings' class='listings'>
              </div>             
            </div>
              <div id="map" class="map"></div>  Mapa puntos de encuentro</div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-3">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i style = "color:gray;" class="bi bi-geo-alt" ></i> New York, NY 10012, US</p>
            <p><i class="bi bi-envelope"></i> info@example.com</p>
            <p><i class="bi bi-telephone"></i> + 01 234 567 88</p>
            <p><i class="bi bi-printer"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(0, 0, 0);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">EspaciosPublicos.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->