<div class="container-fluid " id="noticias">
    
    <h1>News</h1>


    <div class="d-flex">
        <div class="noticias"  *ngFor="let noticias of listaNoticias;">

            <div>
                <img src="../../assets/{{noticias.imagen}}" width="300px" height="200px" >
            </div>

            <p>{{noticias.nombre}}</p>
            <p>{{noticias.descripcion}}</p>
        </div>
    </div>
    
    <div class="d-flex">
        <div class="noticias"  *ngFor="let noticias of listaNoticias;">

            <div>
                <img src="../../assets/{{noticias.imagen}}" width="300px" height="200px" >
            </div>

            <p>{{noticias.nombre}}</p>
            <p>{{noticias.descripcion}}</p>
        </div>
    </div>
    



</div>
