	<!-- link de bootstrap en el index-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/pintura.png" alt="" height="65px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
            <li class="nav-item">
			    <a class="nav-link" id="home" href="#principal">Home</a>
			</li>
            <li class="nav-item">
			    <a class="nav-link" id="artists" href="#artistas">Artists</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="news" href="#noticias">News</a>
			</li>
            <li class="nav-item">
			    <a class="nav-link" id="news" href="#team">Team</a>
			</li>
            <li class="nav-item">
			    <a class="nav-link" id="news" href="#footer">About</a>
			</li>
		  </ul>
		</div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="signup" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="register" href="#">Register</a>
            </li>
        </ul>
    </div>	
</nav>
</header>

<app-principal-i></app-principal-i>